.footer {
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;

    .footer_left {
        display: flex;
        flex-direction: column;
        
        
        
        .footer_left_top {
            color: white;

            .footer_left_link {
                line-height: 32px;
            }
        }

        .footer_left_bottom {
            color: white;
            opacity: 0.5;
            // chercher une autre solution
            // align-self: flex-end;
        }
    }

    .navFooter {
        display: flex;
        width: 30%;
        justify-content: space-between;
    

        .navFooter_left {

             .navFooter_left_title {
                 color: #FBD784;
                 font-size: 24px;
             }

             .navFooter_left_items {
                 display: flex;
                 flex-direction: column;
                 line-height: 42px;
                 font-size: 18px;
             }
        }

        .navFooter_right {

            .navFooter_right_title {
                color: #FBD784;
                font-size: 24px;
            }
            .navFooter_right_items {
                display: flex;
                flex-direction: column;
                color: white;
                line-height: 42px;
                font-size: 18px;
            }
        }
    }
}