.app {
  position: relative;
  background-color: #0B1D26;
  

  a {
    text-decoration: none;
    color: white;
  }

  .app_image1 {
    position: absolute;
    z-index: 100;
  }

  .app_image2 {
    position: absolute;
    z-index: 200;
    margin-top: 500px;
  }

  .app_image3 {
    position: absolute;
    z-index: 300;
    margin-top: 810px;
  }

  .app_filter1 {
    position: absolute;
    z-index: 180;
  }
  
  .app_filter2 {
    position: absolute;
    z-index: 350;
    margin-top: 1200px;
  }

}

