.header {
    width: 95%;
    margin: auto;
    position: relative;
    z-index: 400;
    padding-top: 64px;

    .header_logo {
        float: left;
        margin-right: 300px;

    }

    .navBar {
        display: flex;
        justify-content: space-between;
        
        
        .navBar_item {
            color: white;
            display: flex;
            align-items: center;
        }
    }
}